:root, [data-typeface='mac'] {

  /* heading */
  --type-heading-lg-family: var(--font-family-mac-heading);
  --type-heading-lg-weight: var(--font-weight-medium);
  --type-heading-lg-size: var(--font-size-10xl);
  --type-heading-lg-line-height: var(--line-height-unitless-none);
  --type-heading-lg-letter-spacing: var(--letter-spacing-4xs);
  --type-heading-md-family: var(--font-family-mac-heading);
  --type-heading-md-weight: var(--font-weight-medium);
  --type-heading-md-size: var(--font-size-7xl);
  --type-heading-md-line-height: var(--line-height-unitless-tightest);
  --type-heading-md-letter-spacing: var(--letter-spacing-3xs);
  --type-heading-sm-family: var(--font-family-mac-heading);
  --type-heading-sm-weight: var(--font-weight-medium);
  --type-heading-sm-size: var(--font-size-6xl);
  --type-heading-sm-line-height: var(--line-height-unitless-tighter);
  --type-heading-sm-letter-spacing: var(--letter-spacing-3xs);

  /* title */
  --type-title-lg-family: var(--font-family-mac-heading);
  --type-title-lg-weight: var(--font-weight-medium);
  --type-title-lg-size: var(--font-size-4xl);
  --type-title-lg-line-height: var(--line-height-unitless-tight);
  --type-title-lg-letter-spacing: var(--letter-spacing-2xs);
  --type-title-md-family: var(--font-family-mac-heading);
  --type-title-md-weight: var(--font-weight-medium);
  --type-title-md-size: var(--font-size-2xl);
  --type-title-md-line-height: var(--line-height-unitless-snug);
  --type-title-md-letter-spacing: var(--letter-spacing-xs);
  --type-title-sm-family: var(--font-family-mac-heading);
  --type-title-sm-weight: var(--font-weight-medium);
  --type-title-sm-size: var(--font-size-xl);
  --type-title-sm-line-height: var(--line-height-unitless-normal-minus);
  --type-title-sm-letter-spacing: var(--letter-spacing-xs);
  --type-title-xs-family: var(--font-family-mac-heading);
  --type-title-xs-weight: var(--font-weight-medium);
  --type-title-xs-size: var(--font-size-lg);
  --type-title-xs-line-height: var(--line-height-unitless-snug);
  --type-title-xs-letter-spacing: var(--letter-spacing-sm);

  /* label */
  --type-label-lg-family: var(--font-family-mac-text);
  --type-label-lg-weight: var(--font-weight-regular);
  --type-label-lg-size: var(--font-size-lg);
  --type-label-lg-line-height: var(--line-height-unitless-snug);
  --type-label-lg-letter-spacing: var(--letter-spacing-xs);
  --type-label-md-family: var(--font-family-mac-text);
  --type-label-md-weight: var(--font-weight-regular);
  --type-label-md-size: var(--font-size-md);
  --type-label-md-line-height: var(--line-height-unitless-tight);
  --type-label-md-letter-spacing: var(--letter-spacing-sm);
  --type-label-sm-family: var(--font-family-mac-text);
  --type-label-sm-weight: var(--font-weight-regular);
  --type-label-sm-size: var(--font-size-sm);
  --type-label-sm-line-height: var(--line-height-unitless-tightest);
  --type-label-sm-letter-spacing: var(--letter-spacing-sm);
  --type-label-xs-family: var(--font-family-mac-text);
  --type-label-xs-weight: var(--font-weight-regular);
  --type-label-xs-size: var(--font-size-xs);
  --type-label-xs-line-height: var(--line-height-unitless-tighter);
  --type-label-xs-letter-spacing: var(--letter-spacing-md);
  --type-label-strong-lg-family: var(--font-family-mac-text);
  --type-label-strong-lg-weight: var(--font-weight-medium);
  --type-label-strong-lg-size: var(--font-size-lg);
  --type-label-strong-lg-line-height: var(--line-height-unitless-snug);
  --type-label-strong-lg-letter-spacing: var(--letter-spacing-xs);
  --type-label-strong-md-family: var(--font-family-mac-text);
  --type-label-strong-md-weight: var(--font-weight-medium);
  --type-label-strong-md-size: var(--font-size-md);
  --type-label-strong-md-line-height: var(--line-height-unitless-tight);
  --type-label-strong-md-letter-spacing: var(--letter-spacing-sm);
  --type-label-strong-sm-family: var(--font-family-mac-text);
  --type-label-strong-sm-weight: var(--font-weight-medium);
  --type-label-strong-sm-size: var(--font-size-sm);
  --type-label-strong-sm-line-height: var(--line-height-unitless-tightest);
  --type-label-strong-sm-letter-spacing: var(--letter-spacing-sm);
  --type-label-strong-xs-family: var(--font-family-mac-text);
  --type-label-strong-xs-weight: var(--font-weight-medium);
  --type-label-strong-xs-size: var(--font-size-xs);
  --type-label-strong-xs-line-height: var(--line-height-unitless-tighter);
  --type-label-strong-xs-letter-spacing: var(--letter-spacing-md);

  /* body */
  --type-body-lg-family: var(--font-family-mac-text);
  --type-body-lg-weight: var(--font-weight-regular);
  --type-body-lg-size: var(--font-size-md);
  --type-body-lg-line-height: var(--line-height-unitless-normal);
  --type-body-lg-letter-spacing: var(--letter-spacing-sm);
  --type-body-md-family: var(--font-family-mac-text);
  --type-body-md-weight: var(--font-weight-regular);
  --type-body-md-size: var(--font-size-sm);
  --type-body-md-line-height: var(--line-height-unitless-semi-normal);
  --type-body-md-letter-spacing: var(--letter-spacing-sm);
  --type-body-sm-family: var(--font-family-mac-text);
  --type-body-sm-weight: var(--font-weight-regular);
  --type-body-sm-size: var(--font-size-xs);
  --type-body-sm-line-height: var(--line-height-unitless-snug);
  --type-body-sm-letter-spacing: var(--letter-spacing-md);
  --type-body-strong-lg-family: var(--font-family-mac-text);
  --type-body-strong-lg-weight: var(--font-weight-medium);
  --type-body-strong-lg-size: var(--font-size-md);
  --type-body-strong-lg-line-height: var(--line-height-unitless-normal);
  --type-body-strong-lg-letter-spacing: var(--letter-spacing-sm);
  --type-body-strong-md-family: var(--font-family-mac-text);
  --type-body-strong-md-weight: var(--font-weight-medium);
  --type-body-strong-md-size: var(--font-size-sm);
  --type-body-strong-md-line-height: var(--line-height-unitless-semi-normal);
  --type-body-strong-md-letter-spacing: var(--letter-spacing-sm);
  --type-body-strong-sm-family: var(--font-family-mac-text);
  --type-body-strong-sm-weight: var(--font-weight-medium);
  --type-body-strong-sm-size: var(--font-size-xs);
  --type-body-strong-sm-line-height: var(--line-height-unitless-snug);
  --type-body-strong-sm-letter-spacing: var(--letter-spacing-md);

  /* number */
  --type-number-lg-family: var(--font-family-mac-text);
  --type-number-lg-weight: var(--font-weight-regular);
  --type-number-lg-size: var(--font-size-lg);
  --type-number-lg-line-height: var(--line-height-unitless-snug);
  --type-number-lg-letter-spacing: var(--letter-spacing-3xs);
  --type-number-md-family: var(--font-family-mac-text);
  --type-number-md-weight: var(--font-weight-regular);
  --type-number-md-size: var(--font-size-md);
  --type-number-md-line-height: var(--line-height-unitless-normal);
  --type-number-md-letter-spacing: var(--letter-spacing-3xs);
  --type-number-sm-family: var(--font-family-mac-text);
  --type-number-sm-weight: var(--font-weight-regular);
  --type-number-sm-size: var(--font-size-sm);
  --type-number-sm-line-height: var(--line-height-unitless-semi-normal);
  --type-number-sm-letter-spacing: var(--letter-spacing-3xs);
  --type-number-xs-family: var(--font-family-mac-text);
  --type-number-xs-weight: var(--font-weight-regular);
  --type-number-xs-size: var(--font-size-xs);
  --type-number-xs-line-height: var(--line-height-unitless-snug);
  --type-number-xs-letter-spacing: var(--letter-spacing-2xs);
  --type-number-strong-lg-family: var(--font-family-mac-text);
  --type-number-strong-lg-weight: var(--font-weight-medium);
  --type-number-strong-lg-size: var(--font-size-lg);
  --type-number-strong-lg-line-height: var(--line-height-unitless-snug);
  --type-number-strong-lg-letter-spacing: var(--letter-spacing-3xs);
  --type-number-strong-md-family: var(--font-family-mac-text);
  --type-number-strong-md-weight: var(--font-weight-medium);
  --type-number-strong-md-size: var(--font-size-md);
  --type-number-strong-md-line-height: var(--line-height-unitless-normal);
  --type-number-strong-md-letter-spacing: var(--letter-spacing-3xs);
  --type-number-strong-sm-family: var(--font-family-mac-text);
  --type-number-strong-sm-weight: var(--font-weight-medium);
  --type-number-strong-sm-size: var(--font-size-sm);
  --type-number-strong-sm-line-height: var(--line-height-unitless-semi-normal);
  --type-number-strong-sm-letter-spacing: var(--letter-spacing-3xs);
  --type-number-strong-xs-family: var(--font-family-mac-text);
  --type-number-strong-xs-weight: var(--font-weight-medium);
  --type-number-strong-xs-size: var(--font-size-xs);
  --type-number-strong-xs-line-height: var(--line-height-unitless-snug);
  --type-number-strong-xs-letter-spacing: var(--letter-spacing-2xs);

  /* caption */
  --type-caption-md-family: var(--font-family-mac-text);
  --type-caption-md-weight: var(--font-weight-regular);
  --type-caption-md-size: var(--font-size-xs);
  --type-caption-md-line-height: var(--line-height-unitless-snug);
  --type-caption-md-letter-spacing: var(--letter-spacing-lg);
  --type-caption-sm-family: var(--font-family-mac-text);
  --type-caption-sm-weight: var(--font-weight-regular);
  --type-caption-sm-size: var(--font-size-2xs);
  --type-caption-sm-line-height: var(--line-height-unitless-relaxed);
  --type-caption-sm-letter-spacing: var(--letter-spacing-xl);
  --type-caption-strong-md-family: var(--font-family-mac-text);
  --type-caption-strong-md-weight: var(--font-weight-medium);
  --type-caption-strong-md-size: var(--font-size-xs);
  --type-caption-strong-md-line-height: var(--line-height-unitless-snug);
  --type-caption-strong-md-letter-spacing: var(--letter-spacing-lg);
  --type-caption-strong-sm-family: var(--font-family-mac-text);
  --type-caption-strong-sm-weight: var(--font-weight-medium);
  --type-caption-strong-sm-size: var(--font-size-2xs);
  --type-caption-strong-sm-line-height: var(--line-height-unitless-relaxed);
  --type-caption-strong-sm-letter-spacing: var(--letter-spacing-xl);

  /* code */
  --type-code-lg-family: var(--font-family-mac-code);
  --type-code-lg-weight: var(--font-weight-regular);
  --type-code-lg-size: var(--font-size-md);
  --type-code-lg-line-height: var(--line-height-unitless-normal);
  --type-code-lg-letter-spacing: var(--letter-spacing-sm);
  --type-code-md-family: var(--font-family-mac-code);
  --type-code-md-weight: var(--font-weight-regular);
  --type-code-md-size: var(--font-size-sm);
  --type-code-md-line-height: var(--line-height-unitless-semi-normal);
  --type-code-md-letter-spacing: var(--letter-spacing-sm);
  --type-code-sm-family: var(--font-family-mac-code);
  --type-code-sm-weight: var(--font-weight-regular);
  --type-code-sm-size: var(--font-size-xs);
  --type-code-sm-line-height: var(--line-height-unitless-snug);
  --type-code-sm-letter-spacing: var(--letter-spacing-md);
}

[data-typeface='windows'] {

  /* heading */
  --type-heading-lg-family: var(--font-family-windows-heading);
  --type-heading-lg-weight: var(--font-weight-semibold);
  --type-heading-lg-size: var(--font-size-10xl);
  --type-heading-lg-line-height: var(--line-height-unitless-none);
  --type-heading-lg-letter-spacing: var(--letter-spacing-4xs);
  --type-heading-md-family: var(--font-family-windows-heading);
  --type-heading-md-weight: var(--font-weight-semibold);
  --type-heading-md-size: var(--font-size-7xl);
  --type-heading-md-line-height: var(--line-height-unitless-tightest);
  --type-heading-md-letter-spacing: var(--letter-spacing-3xs);
  --type-heading-sm-family: var(--font-family-windows-heading);
  --type-heading-sm-weight: var(--font-weight-semibold);
  --type-heading-sm-size: var(--font-size-6xl);
  --type-heading-sm-line-height: var(--line-height-unitless-tighter);
  --type-heading-sm-letter-spacing: var(--letter-spacing-3xs);

  /* title */
  --type-title-lg-family: var(--font-family-windows-heading);
  --type-title-lg-weight: var(--font-weight-semibold);
  --type-title-lg-size: var(--font-size-4xl);
  --type-title-lg-line-height: var(--line-height-unitless-tight);
  --type-title-lg-letter-spacing: var(--letter-spacing-2xs);
  --type-title-md-family: var(--font-family-windows-heading);
  --type-title-md-weight: var(--font-weight-semibold);
  --type-title-md-size: var(--font-size-2xl);
  --type-title-md-line-height: var(--line-height-unitless-snug);
  --type-title-md-letter-spacing: var(--letter-spacing-xs);
  --type-title-sm-family: var(--font-family-windows-heading);
  --type-title-sm-weight: var(--font-weight-semibold);
  --type-title-sm-size: var(--font-size-xl);
  --type-title-sm-line-height: var(--line-height-unitless-normal-minus);
  --type-title-sm-letter-spacing: var(--letter-spacing-xs);
  --type-title-xs-family: var(--font-family-windows-heading);
  --type-title-xs-weight: var(--font-weight-semibold);
  --type-title-xs-size: var(--font-size-lg);
  --type-title-xs-line-height: var(--line-height-unitless-snug);
  --type-title-xs-letter-spacing: var(--letter-spacing-sm);

  /* label */
  --type-label-lg-family: var(--font-family-windows-text);
  --type-label-lg-weight: var(--font-weight-regular);
  --type-label-lg-size: var(--font-size-lg);
  --type-label-lg-line-height: var(--line-height-unitless-snug);
  --type-label-lg-letter-spacing: var(--letter-spacing-xs);
  --type-label-md-family: var(--font-family-windows-text);
  --type-label-md-weight: var(--font-weight-regular);
  --type-label-md-size: var(--font-size-md);
  --type-label-md-line-height: var(--line-height-unitless-tight);
  --type-label-md-letter-spacing: var(--letter-spacing-sm);
  --type-label-sm-family: var(--font-family-windows-text);
  --type-label-sm-weight: var(--font-weight-regular);
  --type-label-sm-size: var(--font-size-sm);
  --type-label-sm-line-height: var(--line-height-unitless-tightest);
  --type-label-sm-letter-spacing: var(--letter-spacing-sm);
  --type-label-xs-family: var(--font-family-windows-text);
  --type-label-xs-weight: var(--font-weight-regular);
  --type-label-xs-size: var(--font-size-xs);
  --type-label-xs-line-height: var(--line-height-unitless-tighter);
  --type-label-xs-letter-spacing: var(--letter-spacing-md);
  --type-label-strong-lg-family: var(--font-family-windows-text);
  --type-label-strong-lg-weight: var(--font-weight-semibold);
  --type-label-strong-lg-size: var(--font-size-lg);
  --type-label-strong-lg-line-height: var(--line-height-unitless-snug);
  --type-label-strong-lg-letter-spacing: var(--letter-spacing-xs);
  --type-label-strong-md-family: var(--font-family-windows-text);
  --type-label-strong-md-weight: var(--font-weight-semibold);
  --type-label-strong-md-size: var(--font-size-md);
  --type-label-strong-md-line-height: var(--line-height-unitless-tight);
  --type-label-strong-md-letter-spacing: var(--letter-spacing-sm);
  --type-label-strong-sm-family: var(--font-family-windows-text);
  --type-label-strong-sm-weight: var(--font-weight-semibold);
  --type-label-strong-sm-size: var(--font-size-sm);
  --type-label-strong-sm-line-height: var(--line-height-unitless-tightest);
  --type-label-strong-sm-letter-spacing: var(--letter-spacing-sm);
  --type-label-strong-xs-family: var(--font-family-windows-text);
  --type-label-strong-xs-weight: var(--font-weight-semibold);
  --type-label-strong-xs-size: var(--font-size-xs);
  --type-label-strong-xs-line-height: var(--line-height-unitless-tighter);
  --type-label-strong-xs-letter-spacing: var(--letter-spacing-md);

  /* body */
  --type-body-lg-family: var(--font-family-windows-text);
  --type-body-lg-weight: var(--font-weight-regular);
  --type-body-lg-size: var(--font-size-md);
  --type-body-lg-line-height: var(--line-height-unitless-normal);
  --type-body-lg-letter-spacing: var(--letter-spacing-sm);
  --type-body-md-family: var(--font-family-windows-text);
  --type-body-md-weight: var(--font-weight-regular);
  --type-body-md-size: var(--font-size-sm);
  --type-body-md-line-height: var(--line-height-unitless-semi-normal);
  --type-body-md-letter-spacing: var(--letter-spacing-sm);
  --type-body-sm-family: var(--font-family-windows-text);
  --type-body-sm-weight: var(--font-weight-regular);
  --type-body-sm-size: var(--font-size-xs);
  --type-body-sm-line-height: var(--line-height-unitless-snug);
  --type-body-sm-letter-spacing: var(--letter-spacing-md);
  --type-body-strong-lg-family: var(--font-family-windows-text);
  --type-body-strong-lg-weight: var(--font-weight-semibold);
  --type-body-strong-lg-size: var(--font-size-md);
  --type-body-strong-lg-line-height: var(--line-height-unitless-normal);
  --type-body-strong-lg-letter-spacing: var(--letter-spacing-sm);
  --type-body-strong-md-family: var(--font-family-windows-text);
  --type-body-strong-md-weight: var(--font-weight-semibold);
  --type-body-strong-md-size: var(--font-size-sm);
  --type-body-strong-md-line-height: var(--line-height-unitless-semi-normal);
  --type-body-strong-md-letter-spacing: var(--letter-spacing-sm);
  --type-body-strong-sm-family: var(--font-family-windows-text);
  --type-body-strong-sm-weight: var(--font-weight-semibold);
  --type-body-strong-sm-size: var(--font-size-xs);
  --type-body-strong-sm-line-height: var(--line-height-unitless-snug);
  --type-body-strong-sm-letter-spacing: var(--letter-spacing-md);

  /* number */
  --type-number-lg-family: var(--font-family-windows-text);
  --type-number-lg-weight: var(--font-weight-regular);
  --type-number-lg-size: var(--font-size-lg);
  --type-number-lg-line-height: var(--line-height-unitless-snug);
  --type-number-lg-letter-spacing: var(--letter-spacing-3xs);
  --type-number-md-family: var(--font-family-windows-text);
  --type-number-md-weight: var(--font-weight-regular);
  --type-number-md-size: var(--font-size-md);
  --type-number-md-line-height: var(--line-height-unitless-normal);
  --type-number-md-letter-spacing: var(--letter-spacing-3xs);
  --type-number-sm-family: var(--font-family-windows-text);
  --type-number-sm-weight: var(--font-weight-regular);
  --type-number-sm-size: var(--font-size-sm);
  --type-number-sm-line-height: var(--line-height-unitless-semi-normal);
  --type-number-sm-letter-spacing: var(--letter-spacing-3xs);
  --type-number-xs-family: var(--font-family-windows-text);
  --type-number-xs-weight: var(--font-weight-regular);
  --type-number-xs-size: var(--font-size-xs);
  --type-number-xs-line-height: var(--line-height-unitless-snug);
  --type-number-xs-letter-spacing: var(--letter-spacing-2xs);
  --type-number-strong-lg-family: var(--font-family-windows-text);
  --type-number-strong-lg-weight: var(--font-weight-semibold);
  --type-number-strong-lg-size: var(--font-size-lg);
  --type-number-strong-lg-line-height: var(--line-height-unitless-snug);
  --type-number-strong-lg-letter-spacing: var(--letter-spacing-3xs);
  --type-number-strong-md-family: var(--font-family-windows-text);
  --type-number-strong-md-weight: var(--font-weight-semibold);
  --type-number-strong-md-size: var(--font-size-md);
  --type-number-strong-md-line-height: var(--line-height-unitless-normal);
  --type-number-strong-md-letter-spacing: var(--letter-spacing-3xs);
  --type-number-strong-sm-family: var(--font-family-windows-text);
  --type-number-strong-sm-weight: var(--font-weight-semibold);
  --type-number-strong-sm-size: var(--font-size-sm);
  --type-number-strong-sm-line-height: var(--line-height-unitless-semi-normal);
  --type-number-strong-sm-letter-spacing: var(--letter-spacing-3xs);
  --type-number-strong-xs-family: var(--font-family-windows-text);
  --type-number-strong-xs-weight: var(--font-weight-semibold);
  --type-number-strong-xs-size: var(--font-size-xs);
  --type-number-strong-xs-line-height: var(--line-height-unitless-snug);
  --type-number-strong-xs-letter-spacing: var(--letter-spacing-2xs);

  /* caption */
  --type-caption-md-family: var(--font-family-windows-text);
  --type-caption-md-weight: var(--font-weight-regular);
  --type-caption-md-size: var(--font-size-xs);
  --type-caption-md-line-height: var(--line-height-unitless-snug);
  --type-caption-md-letter-spacing: var(--letter-spacing-lg);
  --type-caption-sm-family: var(--font-family-windows-text);
  --type-caption-sm-weight: var(--font-weight-regular);
  --type-caption-sm-size: var(--font-size-2xs);
  --type-caption-sm-line-height: var(--line-height-unitless-relaxed);
  --type-caption-sm-letter-spacing: var(--letter-spacing-xl);
  --type-caption-strong-md-family: var(--font-family-windows-text);
  --type-caption-strong-md-weight: var(--font-weight-semibold);
  --type-caption-strong-md-size: var(--font-size-xs);
  --type-caption-strong-md-line-height: var(--line-height-unitless-snug);
  --type-caption-strong-md-letter-spacing: var(--letter-spacing-lg);
  --type-caption-strong-sm-family: var(--font-family-windows-text);
  --type-caption-strong-sm-weight: var(--font-weight-semibold);
  --type-caption-strong-sm-size: var(--font-size-2xs);
  --type-caption-strong-sm-line-height: var(--line-height-unitless-relaxed);
  --type-caption-strong-sm-letter-spacing: var(--letter-spacing-xl);

  /* code */
  --type-code-lg-family: var(--font-family-windows-code);
  --type-code-lg-weight: var(--font-weight-regular);
  --type-code-lg-size: var(--font-size-md);
  --type-code-lg-line-height: var(--line-height-unitless-normal);
  --type-code-lg-letter-spacing: var(--letter-spacing-sm);
  --type-code-md-family: var(--font-family-windows-code);
  --type-code-md-weight: var(--font-weight-regular);
  --type-code-md-size: var(--font-size-sm);
  --type-code-md-line-height: var(--line-height-unitless-semi-normal);
  --type-code-md-letter-spacing: var(--letter-spacing-sm);
  --type-code-sm-family: var(--font-family-windows-code);
  --type-code-sm-weight: var(--font-weight-regular);
  --type-code-sm-size: var(--font-size-xs);
  --type-code-sm-line-height: var(--line-height-unitless-snug);
  --type-code-sm-letter-spacing: var(--letter-spacing-md);
}

[data-typeface='marketing'] {

  /* heading */
  --type-heading-lg-family: var(--font-family-marketing-heading);
  --type-heading-lg-weight: var(--font-weight-medium);
  --type-heading-lg-size: var(--font-size-10xl);
  --type-heading-lg-line-height: var(--line-height-unitless-none);
  --type-heading-lg-letter-spacing: var(--letter-spacing-4xs);
  --type-heading-md-family: var(--font-family-marketing-heading);
  --type-heading-md-weight: var(--font-weight-medium);
  --type-heading-md-size: var(--font-size-7xl);
  --type-heading-md-line-height: var(--line-height-unitless-tightest);
  --type-heading-md-letter-spacing: var(--letter-spacing-3xs);
  --type-heading-sm-family: var(--font-family-marketing-heading);
  --type-heading-sm-weight: var(--font-weight-medium);
  --type-heading-sm-size: var(--font-size-6xl);
  --type-heading-sm-line-height: var(--line-height-unitless-tighter);
  --type-heading-sm-letter-spacing: var(--letter-spacing-3xs);

  /* title */
  --type-title-lg-family: var(--font-family-marketing-heading);
  --type-title-lg-weight: var(--font-weight-medium);
  --type-title-lg-size: var(--font-size-4xl);
  --type-title-lg-line-height: var(--line-height-unitless-tight);
  --type-title-lg-letter-spacing: var(--letter-spacing-2xs);
  --type-title-md-family: var(--font-family-marketing-heading);
  --type-title-md-weight: var(--font-weight-medium);
  --type-title-md-size: var(--font-size-2xl);
  --type-title-md-line-height: var(--line-height-unitless-snug);
  --type-title-md-letter-spacing: var(--letter-spacing-xs);
  --type-title-sm-family: var(--font-family-marketing-heading);
  --type-title-sm-weight: var(--font-weight-medium);
  --type-title-sm-size: var(--font-size-xl);
  --type-title-sm-line-height: var(--line-height-unitless-normal-minus);
  --type-title-sm-letter-spacing: var(--letter-spacing-xs);
  --type-title-xs-family: var(--font-family-marketing-heading);
  --type-title-xs-weight: var(--font-weight-medium);
  --type-title-xs-size: var(--font-size-lg);
  --type-title-xs-line-height: var(--line-height-unitless-snug);
  --type-title-xs-letter-spacing: var(--letter-spacing-sm);

  /* label */
  --type-label-lg-family: var(--font-family-marketing-text);
  --type-label-lg-weight: var(--font-weight-regular);
  --type-label-lg-size: var(--font-size-lg);
  --type-label-lg-line-height: var(--line-height-unitless-snug);
  --type-label-lg-letter-spacing: var(--letter-spacing-xs);
  --type-label-md-family: var(--font-family-marketing-text);
  --type-label-md-weight: var(--font-weight-regular);
  --type-label-md-size: var(--font-size-md);
  --type-label-md-line-height: var(--line-height-unitless-tight);
  --type-label-md-letter-spacing: var(--letter-spacing-sm);
  --type-label-sm-family: var(--font-family-marketing-text);
  --type-label-sm-weight: var(--font-weight-regular);
  --type-label-sm-size: var(--font-size-sm);
  --type-label-sm-line-height: var(--line-height-unitless-tightest);
  --type-label-sm-letter-spacing: var(--letter-spacing-sm);
  --type-label-xs-family: var(--font-family-marketing-text);
  --type-label-xs-weight: var(--font-weight-regular);
  --type-label-xs-size: var(--font-size-xs);
  --type-label-xs-line-height: var(--line-height-unitless-tighter);
  --type-label-xs-letter-spacing: var(--letter-spacing-md);
  --type-label-strong-lg-family: var(--font-family-marketing-text);
  --type-label-strong-lg-weight: var(--font-weight-medium);
  --type-label-strong-lg-size: var(--font-size-lg);
  --type-label-strong-lg-line-height: var(--line-height-unitless-snug);
  --type-label-strong-lg-letter-spacing: var(--letter-spacing-xs);
  --type-label-strong-md-family: var(--font-family-marketing-text);
  --type-label-strong-md-weight: var(--font-weight-medium);
  --type-label-strong-md-size: var(--font-size-md);
  --type-label-strong-md-line-height: var(--line-height-unitless-tight);
  --type-label-strong-md-letter-spacing: var(--letter-spacing-sm);
  --type-label-strong-sm-family: var(--font-family-marketing-text);
  --type-label-strong-sm-weight: var(--font-weight-medium);
  --type-label-strong-sm-size: var(--font-size-sm);
  --type-label-strong-sm-line-height: var(--line-height-unitless-tightest);
  --type-label-strong-sm-letter-spacing: var(--letter-spacing-sm);
  --type-label-strong-xs-family: var(--font-family-marketing-text);
  --type-label-strong-xs-weight: var(--font-weight-medium);
  --type-label-strong-xs-size: var(--font-size-xs);
  --type-label-strong-xs-line-height: var(--line-height-unitless-tighter);
  --type-label-strong-xs-letter-spacing: var(--letter-spacing-md);

  /* body */
  --type-body-lg-family: var(--font-family-marketing-text);
  --type-body-lg-weight: var(--font-weight-regular);
  --type-body-lg-size: var(--font-size-md);
  --type-body-lg-line-height: var(--line-height-unitless-normal);
  --type-body-lg-letter-spacing: var(--letter-spacing-sm);
  --type-body-md-family: var(--font-family-marketing-text);
  --type-body-md-weight: var(--font-weight-regular);
  --type-body-md-size: var(--font-size-sm);
  --type-body-md-line-height: var(--line-height-unitless-semi-normal);
  --type-body-md-letter-spacing: var(--letter-spacing-sm);
  --type-body-sm-family: var(--font-family-marketing-text);
  --type-body-sm-weight: var(--font-weight-regular);
  --type-body-sm-size: var(--font-size-xs);
  --type-body-sm-line-height: var(--line-height-unitless-snug);
  --type-body-sm-letter-spacing: var(--letter-spacing-md);
  --type-body-strong-lg-family: var(--font-family-marketing-text);
  --type-body-strong-lg-weight: var(--font-weight-medium);
  --type-body-strong-lg-size: var(--font-size-md);
  --type-body-strong-lg-line-height: var(--line-height-unitless-normal);
  --type-body-strong-lg-letter-spacing: var(--letter-spacing-sm);
  --type-body-strong-md-family: var(--font-family-marketing-text);
  --type-body-strong-md-weight: var(--font-weight-medium);
  --type-body-strong-md-size: var(--font-size-sm);
  --type-body-strong-md-line-height: var(--line-height-unitless-semi-normal);
  --type-body-strong-md-letter-spacing: var(--letter-spacing-sm);
  --type-body-strong-sm-family: var(--font-family-marketing-text);
  --type-body-strong-sm-weight: var(--font-weight-medium);
  --type-body-strong-sm-size: var(--font-size-xs);
  --type-body-strong-sm-line-height: var(--line-height-unitless-snug);
  --type-body-strong-sm-letter-spacing: var(--letter-spacing-md);

  /* number */
  --type-number-lg-family: var(--font-family-marketing-text);
  --type-number-lg-weight: var(--font-weight-regular);
  --type-number-lg-size: var(--font-size-lg);
  --type-number-lg-line-height: var(--line-height-unitless-snug);
  --type-number-lg-letter-spacing: var(--letter-spacing-3xs);
  --type-number-md-family: var(--font-family-marketing-text);
  --type-number-md-weight: var(--font-weight-regular);
  --type-number-md-size: var(--font-size-md);
  --type-number-md-line-height: var(--line-height-unitless-normal);
  --type-number-md-letter-spacing: var(--letter-spacing-3xs);
  --type-number-sm-family: var(--font-family-marketing-text);
  --type-number-sm-weight: var(--font-weight-regular);
  --type-number-sm-size: var(--font-size-sm);
  --type-number-sm-line-height: var(--line-height-unitless-semi-normal);
  --type-number-sm-letter-spacing: var(--letter-spacing-3xs);
  --type-number-xs-family: var(--font-family-marketing-text);
  --type-number-xs-weight: var(--font-weight-regular);
  --type-number-xs-size: var(--font-size-xs);
  --type-number-xs-line-height: var(--line-height-unitless-snug);
  --type-number-xs-letter-spacing: var(--letter-spacing-2xs);
  --type-number-strong-lg-family: var(--font-family-marketing-text);
  --type-number-strong-lg-weight: var(--font-weight-medium);
  --type-number-strong-lg-size: var(--font-size-lg);
  --type-number-strong-lg-line-height: var(--line-height-unitless-snug);
  --type-number-strong-lg-letter-spacing: var(--letter-spacing-3xs);
  --type-number-strong-md-family: var(--font-family-marketing-text);
  --type-number-strong-md-weight: var(--font-weight-medium);
  --type-number-strong-md-size: var(--font-size-md);
  --type-number-strong-md-line-height: var(--line-height-unitless-normal);
  --type-number-strong-md-letter-spacing: var(--letter-spacing-3xs);
  --type-number-strong-sm-family: var(--font-family-marketing-text);
  --type-number-strong-sm-weight: var(--font-weight-medium);
  --type-number-strong-sm-size: var(--font-size-sm);
  --type-number-strong-sm-line-height: var(--line-height-unitless-semi-normal);
  --type-number-strong-sm-letter-spacing: var(--letter-spacing-3xs);
  --type-number-strong-xs-family: var(--font-family-marketing-text);
  --type-number-strong-xs-weight: var(--font-weight-medium);
  --type-number-strong-xs-size: var(--font-size-xs);
  --type-number-strong-xs-line-height: var(--line-height-unitless-snug);
  --type-number-strong-xs-letter-spacing: var(--letter-spacing-2xs);

  /* caption */
  --type-caption-md-family: var(--font-family-marketing-text);
  --type-caption-md-weight: var(--font-weight-regular);
  --type-caption-md-size: var(--font-size-xs);
  --type-caption-md-line-height: var(--line-height-unitless-snug);
  --type-caption-md-letter-spacing: var(--letter-spacing-lg);
  --type-caption-sm-family: var(--font-family-marketing-text);
  --type-caption-sm-weight: var(--font-weight-regular);
  --type-caption-sm-size: var(--font-size-2xs);
  --type-caption-sm-line-height: var(--line-height-unitless-relaxed);
  --type-caption-sm-letter-spacing: var(--letter-spacing-xl);
  --type-caption-strong-md-family: var(--font-family-marketing-text);
  --type-caption-strong-md-weight: var(--font-weight-medium);
  --type-caption-strong-md-size: var(--font-size-xs);
  --type-caption-strong-md-line-height: var(--line-height-unitless-snug);
  --type-caption-strong-md-letter-spacing: var(--letter-spacing-lg);
  --type-caption-strong-sm-family: var(--font-family-marketing-text);
  --type-caption-strong-sm-weight: var(--font-weight-medium);
  --type-caption-strong-sm-size: var(--font-size-2xs);
  --type-caption-strong-sm-line-height: var(--line-height-unitless-relaxed);
  --type-caption-strong-sm-letter-spacing: var(--letter-spacing-xl);

  /* code */
  --type-code-lg-family: var(--font-family-marketing-code);
  --type-code-lg-weight: var(--font-weight-regular);
  --type-code-lg-size: var(--font-size-md);
  --type-code-lg-line-height: var(--line-height-unitless-normal);
  --type-code-lg-letter-spacing: var(--letter-spacing-sm);
  --type-code-md-family: var(--font-family-marketing-code);
  --type-code-md-weight: var(--font-weight-regular);
  --type-code-md-size: var(--font-size-sm);
  --type-code-md-line-height: var(--line-height-unitless-semi-normal);
  --type-code-md-letter-spacing: var(--letter-spacing-sm);
  --type-code-sm-family: var(--font-family-marketing-code);
  --type-code-sm-weight: var(--font-weight-regular);
  --type-code-sm-size: var(--font-size-xs);
  --type-code-sm-line-height: var(--line-height-unitless-snug);
  --type-code-sm-letter-spacing: var(--letter-spacing-md);
}

[data-typeface='inter'] {

  /* heading */
  --type-heading-lg-family: var(--font-family-inter-heading);
  --type-heading-lg-weight: var(--font-weight-bold);
  --type-heading-lg-size: var(--font-size-10xl);
  --type-heading-lg-line-height: var(--line-height-unitless-none);
  --type-heading-lg-letter-spacing: var(--letter-spacing-4xs);
  --type-heading-md-family: var(--font-family-inter-heading);
  --type-heading-md-weight: var(--font-weight-bold);
  --type-heading-md-size: var(--font-size-7xl);
  --type-heading-md-line-height: var(--line-height-unitless-tightest);
  --type-heading-md-letter-spacing: var(--letter-spacing-3xs);
  --type-heading-sm-family: var(--font-family-inter-heading);
  --type-heading-sm-weight: var(--font-weight-bold);
  --type-heading-sm-size: var(--font-size-6xl);
  --type-heading-sm-line-height: var(--line-height-unitless-tighter);
  --type-heading-sm-letter-spacing: var(--letter-spacing-3xs);

  /* title */
  --type-title-lg-family: var(--font-family-inter-heading);
  --type-title-lg-weight: var(--font-weight-semibold);
  --type-title-lg-size: var(--font-size-4xl);
  --type-title-lg-line-height: var(--line-height-unitless-tight);
  --type-title-lg-letter-spacing: var(--letter-spacing-2xs);
  --type-title-md-family: var(--font-family-inter-heading);
  --type-title-md-weight: var(--font-weight-semibold);
  --type-title-md-size: var(--font-size-2xl);
  --type-title-md-line-height: var(--line-height-unitless-snug);
  --type-title-md-letter-spacing: var(--letter-spacing-xs);
  --type-title-sm-family: var(--font-family-inter-heading);
  --type-title-sm-weight: var(--font-weight-semibold);
  --type-title-sm-size: var(--font-size-xl);
  --type-title-sm-line-height: var(--line-height-unitless-normal-minus);
  --type-title-sm-letter-spacing: var(--letter-spacing-xs);
  --type-title-xs-family: var(--font-family-inter-heading);
  --type-title-xs-weight: var(--font-weight-semibold);
  --type-title-xs-size: var(--font-size-lg);
  --type-title-xs-line-height: var(--line-height-unitless-snug);
  --type-title-xs-letter-spacing: var(--letter-spacing-sm);

  /* label */
  --type-label-lg-family: var(--font-family-inter-text);
  --type-label-lg-weight: var(--font-weight-regular);
  --type-label-lg-size: var(--font-size-lg);
  --type-label-lg-line-height: var(--line-height-unitless-snug);
  --type-label-lg-letter-spacing: var(--letter-spacing-xs);
  --type-label-md-family: var(--font-family-inter-text);
  --type-label-md-weight: var(--font-weight-regular);
  --type-label-md-size: var(--font-size-md);
  --type-label-md-line-height: var(--line-height-unitless-tight);
  --type-label-md-letter-spacing: var(--letter-spacing-sm);
  --type-label-sm-family: var(--font-family-inter-text);
  --type-label-sm-weight: var(--font-weight-regular);
  --type-label-sm-size: var(--font-size-sm);
  --type-label-sm-line-height: var(--line-height-unitless-tightest);
  --type-label-sm-letter-spacing: var(--letter-spacing-sm);
  --type-label-xs-family: var(--font-family-inter-text);
  --type-label-xs-weight: var(--font-weight-regular);
  --type-label-xs-size: var(--font-size-xs);
  --type-label-xs-line-height: var(--line-height-unitless-tighter);
  --type-label-xs-letter-spacing: var(--letter-spacing-md);
  --type-label-strong-lg-family: var(--font-family-inter-text);
  --type-label-strong-lg-weight: var(--font-weight-medium);
  --type-label-strong-lg-size: var(--font-size-lg);
  --type-label-strong-lg-line-height: var(--line-height-unitless-snug);
  --type-label-strong-lg-letter-spacing: var(--letter-spacing-xs);
  --type-label-strong-md-family: var(--font-family-inter-text);
  --type-label-strong-md-weight: var(--font-weight-medium);
  --type-label-strong-md-size: var(--font-size-md);
  --type-label-strong-md-line-height: var(--line-height-unitless-tight);
  --type-label-strong-md-letter-spacing: var(--letter-spacing-sm);
  --type-label-strong-sm-family: var(--font-family-inter-text);
  --type-label-strong-sm-weight: var(--font-weight-medium);
  --type-label-strong-sm-size: var(--font-size-sm);
  --type-label-strong-sm-line-height: var(--line-height-unitless-tightest);
  --type-label-strong-sm-letter-spacing: var(--letter-spacing-sm);
  --type-label-strong-xs-family: var(--font-family-inter-text);
  --type-label-strong-xs-weight: var(--font-weight-medium);
  --type-label-strong-xs-size: var(--font-size-xs);
  --type-label-strong-xs-line-height: var(--line-height-unitless-tighter);
  --type-label-strong-xs-letter-spacing: var(--letter-spacing-md);

  /* body */
  --type-body-lg-family: var(--font-family-inter-text);
  --type-body-lg-weight: var(--font-weight-regular);
  --type-body-lg-size: var(--font-size-md);
  --type-body-lg-line-height: var(--line-height-unitless-normal);
  --type-body-lg-letter-spacing: var(--letter-spacing-sm);
  --type-body-md-family: var(--font-family-inter-text);
  --type-body-md-weight: var(--font-weight-regular);
  --type-body-md-size: var(--font-size-sm);
  --type-body-md-line-height: var(--line-height-unitless-semi-normal);
  --type-body-md-letter-spacing: var(--letter-spacing-sm);
  --type-body-sm-family: var(--font-family-inter-text);
  --type-body-sm-weight: var(--font-weight-regular);
  --type-body-sm-size: var(--font-size-xs);
  --type-body-sm-line-height: var(--line-height-unitless-snug);
  --type-body-sm-letter-spacing: var(--letter-spacing-md);
  --type-body-strong-lg-family: var(--font-family-inter-text);
  --type-body-strong-lg-weight: var(--font-weight-medium);
  --type-body-strong-lg-size: var(--font-size-md);
  --type-body-strong-lg-line-height: var(--line-height-unitless-normal);
  --type-body-strong-lg-letter-spacing: var(--letter-spacing-sm);
  --type-body-strong-md-family: var(--font-family-inter-text);
  --type-body-strong-md-weight: var(--font-weight-medium);
  --type-body-strong-md-size: var(--font-size-sm);
  --type-body-strong-md-line-height: var(--line-height-unitless-semi-normal);
  --type-body-strong-md-letter-spacing: var(--letter-spacing-sm);
  --type-body-strong-sm-family: var(--font-family-inter-text);
  --type-body-strong-sm-weight: var(--font-weight-medium);
  --type-body-strong-sm-size: var(--font-size-xs);
  --type-body-strong-sm-line-height: var(--line-height-unitless-snug);
  --type-body-strong-sm-letter-spacing: var(--letter-spacing-md);

  /* number */
  --type-number-lg-family: var(--font-family-inter-text);
  --type-number-lg-weight: var(--font-weight-regular);
  --type-number-lg-size: var(--font-size-lg);
  --type-number-lg-line-height: var(--line-height-unitless-snug);
  --type-number-lg-letter-spacing: var(--letter-spacing-3xs);
  --type-number-md-family: var(--font-family-inter-text);
  --type-number-md-weight: var(--font-weight-regular);
  --type-number-md-size: var(--font-size-md);
  --type-number-md-line-height: var(--line-height-unitless-normal);
  --type-number-md-letter-spacing: var(--letter-spacing-3xs);
  --type-number-sm-family: var(--font-family-inter-text);
  --type-number-sm-weight: var(--font-weight-regular);
  --type-number-sm-size: var(--font-size-sm);
  --type-number-sm-line-height: var(--line-height-unitless-semi-normal);
  --type-number-sm-letter-spacing: var(--letter-spacing-3xs);
  --type-number-xs-family: var(--font-family-inter-text);
  --type-number-xs-weight: var(--font-weight-regular);
  --type-number-xs-size: var(--font-size-xs);
  --type-number-xs-line-height: var(--line-height-unitless-snug);
  --type-number-xs-letter-spacing: var(--letter-spacing-2xs);
  --type-number-strong-lg-family: var(--font-family-inter-text);
  --type-number-strong-lg-weight: var(--font-weight-medium);
  --type-number-strong-lg-size: var(--font-size-lg);
  --type-number-strong-lg-line-height: var(--line-height-unitless-snug);
  --type-number-strong-lg-letter-spacing: var(--letter-spacing-3xs);
  --type-number-strong-md-family: var(--font-family-inter-text);
  --type-number-strong-md-weight: var(--font-weight-medium);
  --type-number-strong-md-size: var(--font-size-md);
  --type-number-strong-md-line-height: var(--line-height-unitless-normal);
  --type-number-strong-md-letter-spacing: var(--letter-spacing-3xs);
  --type-number-strong-sm-family: var(--font-family-inter-text);
  --type-number-strong-sm-weight: var(--font-weight-medium);
  --type-number-strong-sm-size: var(--font-size-sm);
  --type-number-strong-sm-line-height: var(--line-height-unitless-semi-normal);
  --type-number-strong-sm-letter-spacing: var(--letter-spacing-3xs);
  --type-number-strong-xs-family: var(--font-family-inter-text);
  --type-number-strong-xs-weight: var(--font-weight-medium);
  --type-number-strong-xs-size: var(--font-size-xs);
  --type-number-strong-xs-line-height: var(--line-height-unitless-snug);
  --type-number-strong-xs-letter-spacing: var(--letter-spacing-2xs);

  /* caption */
  --type-caption-md-family: var(--font-family-inter-text);
  --type-caption-md-weight: var(--font-weight-regular);
  --type-caption-md-size: var(--font-size-xs);
  --type-caption-md-line-height: var(--line-height-unitless-snug);
  --type-caption-md-letter-spacing: var(--letter-spacing-lg);
  --type-caption-sm-family: var(--font-family-inter-text);
  --type-caption-sm-weight: var(--font-weight-regular);
  --type-caption-sm-size: var(--font-size-2xs);
  --type-caption-sm-line-height: var(--line-height-unitless-relaxed);
  --type-caption-sm-letter-spacing: var(--letter-spacing-xl);
  --type-caption-strong-md-family: var(--font-family-inter-text);
  --type-caption-strong-md-weight: var(--font-weight-medium);
  --type-caption-strong-md-size: var(--font-size-xs);
  --type-caption-strong-md-line-height: var(--line-height-unitless-snug);
  --type-caption-strong-md-letter-spacing: var(--letter-spacing-lg);
  --type-caption-strong-sm-family: var(--font-family-inter-text);
  --type-caption-strong-sm-weight: var(--font-weight-medium);
  --type-caption-strong-sm-size: var(--font-size-2xs);
  --type-caption-strong-sm-line-height: var(--line-height-unitless-relaxed);
  --type-caption-strong-sm-letter-spacing: var(--letter-spacing-xl);

  /* code */
  --type-code-lg-family: var(--font-family-inter-code);
  --type-code-lg-weight: var(--font-weight-regular);
  --type-code-lg-size: var(--font-size-md);
  --type-code-lg-line-height: var(--line-height-unitless-normal);
  --type-code-lg-letter-spacing: var(--letter-spacing-sm);
  --type-code-md-family: var(--font-family-inter-code);
  --type-code-md-weight: var(--font-weight-regular);
  --type-code-md-size: var(--font-size-sm);
  --type-code-md-line-height: var(--line-height-unitless-semi-normal);
  --type-code-md-letter-spacing: var(--letter-spacing-sm);
  --type-code-sm-family: var(--font-family-inter-code);
  --type-code-sm-weight: var(--font-weight-regular);
  --type-code-sm-size: var(--font-size-xs);
  --type-code-sm-line-height: var(--line-height-unitless-snug);
  --type-code-sm-letter-spacing: var(--letter-spacing-md);
}
