.toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

.toggle:focus-visible {
  box-shadow:
    0 0 0 var(--spacing-2xs) var(--element-surface-over),
    0 0 0 var(--spacing-xs) var(--element-outline-neutral-default);
  outline: none;
  border-radius: var(--radius-xs);
}
