.content {
  --_content-padding-top: var(--spacing-sm-extra);
}

.body {
  --_body-padding: 0 var(--spacing-sm-extra) var(--spacing-sm-extra);
  --_body-gap: var(--spacing-sm-extra);
}

.text {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  min-width: 0;
}

.title {
  font-family: var(--type-label-strong-sm-family);
  font-weight: var(--type-label-strong-sm-weight);
  font-size: var(--type-label-strong-sm-size);
  line-height: var(--type-label-strong-sm-line-height);
  letter-spacing: var(--type-label-strong-sm-letter-spacing);
  color: var(--text-neutral-primary);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.description {
  font-family: var(--type-body-sm-family);
  font-weight: var(--type-body-sm-weight);
  font-size: var(--type-body-sm-size);
  line-height: var(--type-body-sm-line-height);
  letter-spacing: var(--type-body-sm-letter-spacing);
  color: var(--text-neutral-tertiary-default);
}

.disabled .thumbnail {
  opacity: var(--opacity-32);
}

.disabled .title,
.disabled .description {
  color: var(--text-neutral-disable);
}
