:root {
  /* ─── Colors ─── */

  /* white */
  --color-white-white: #ffffff;
  --color-white-opacity-0: rgba(255, 255, 255, 0);
  --color-white-opacity-2: rgba(255, 255, 255, 0.02);
  --color-white-opacity-4: rgba(255, 255, 255, 0.04);
  --color-white-opacity-6: rgba(255, 255, 255, 0.06);
  --color-white-opacity-8: rgba(255, 255, 255, 0.08);
  --color-white-opacity-12: rgba(255, 255, 255, 0.12);
  --color-white-opacity-16: rgba(255, 255, 255, 0.16);
  --color-white-opacity-20: rgba(255, 255, 255, 0.2);
  --color-white-opacity-24: rgba(255, 255, 255, 0.24);
  --color-white-opacity-32: rgba(255, 255, 255, 0.32);
  --color-white-opacity-40: rgba(255, 255, 255, 0.4);
  --color-white-opacity-48: rgba(255, 255, 255, 0.48);
  --color-white-opacity-56: rgba(255, 255, 255, 0.56);
  --color-white-opacity-64: rgba(255, 255, 255, 0.64);
  --color-white-opacity-88: rgba(255, 255, 255, 0.88);
  --color-white-opacity-98: rgba(255, 255, 255, 0.98);

  /* black */
  --color-black-black: #000000;
  --color-black-opacity-0: rgba(0, 0, 0, 0);
  --color-black-opacity-2: rgba(0, 0, 0, 0.02);
  --color-black-opacity-4: rgba(0, 0, 0, 0.04);
  --color-black-opacity-6: rgba(0, 0, 0, 0.06);
  --color-black-opacity-8: rgba(0, 0, 0, 0.08);
  --color-black-opacity-12: rgba(0, 0, 0, 0.12);
  --color-black-opacity-16: rgba(0, 0, 0, 0.16);
  --color-black-opacity-20: rgba(0, 0, 0, 0.2);
  --color-black-opacity-24: rgba(0, 0, 0, 0.24);
  --color-black-opacity-32: rgba(0, 0, 0, 0.32);
  --color-black-opacity-40: rgba(0, 0, 0, 0.4);
  --color-black-opacity-48: rgba(0, 0, 0, 0.48);
  --color-black-opacity-56: rgba(0, 0, 0, 0.56);
  --color-black-opacity-64: rgba(0, 0, 0, 0.64);
  --color-black-opacity-88: rgba(0, 0, 0, 0.88);
  --color-black-opacity-98: rgba(0, 0, 0, 0.98);

  /* gray */
  --color-gray-25: #f9fafb;
  --color-gray-50: #f1f2f3;
  --color-gray-100: #dfe0e2;
  --color-gray-150: #c6c7c7;
  --color-gray-200: #b9babb;
  --color-gray-250: #aaabac;
  --color-gray-300: #98999a;
  --color-gray-400: #757575;
  --color-gray-450: #68696a;
  --color-gray-500: #58595a;
  --color-gray-600: #444546;
  --color-gray-700: #323334;
  --color-gray-750: #2d2e2f;
  --color-gray-800: #222425;
  --color-gray-850: #1b1c1d;
  --color-gray-900: #161718;
  --color-gray-950: #111212;

  /* smartly */
  --color-smartly-50: #f8f0ff;
  --color-smartly-100: #ecd8fe;
  --color-smartly-150: #e0bdff;
  --color-smartly-200: #d7a9ff;
  --color-smartly-250: #cf99ff;
  --color-smartly-300: #c382fc;
  --color-smartly-400: #ae57fa;
  --color-smartly-500: #9138ea;
  --color-smartly-600: #7a27ce;
  --color-smartly-700: #5e18af;
  --color-smartly-750: #55159d;
  --color-smartly-800: #480a8f;
  --color-smartly-850: #3c0977;
  --color-smartly-900: #30085e;
  --color-smartly-950: #27074b;
  --color-smartly-opacity-0: rgba(145, 56, 234, 0);
  --color-smartly-opacity-4: rgba(145, 56, 234, 0.04);
  --color-smartly-opacity-8: rgba(145, 56, 234, 0.08);
  --color-smartly-opacity-12: rgba(145, 56, 234, 0.12);
  --color-smartly-opacity-16: rgba(145, 56, 234, 0.16);
  --color-smartly-opacity-20: rgba(145, 56, 234, 0.2);
  --color-smartly-opacity-24: rgba(145, 56, 234, 0.24);
  --color-smartly-opacity-32: rgba(145, 56, 234, 0.32);

  /* red */
  --color-red-50: #fff1f0;
  --color-red-100: #ffd4cc;
  --color-red-150: #ffbaad;
  --color-red-200: #fca597;
  --color-red-250: #fb9484;
  --color-red-300: #ff7c6b;
  --color-red-400: #f35044;
  --color-red-500: #d72923;
  --color-red-600: #bd1414;
  --color-red-700: #950909;
  --color-red-750: #870808;
  --color-red-800: #6f0101;
  --color-red-850: #600101;
  --color-red-900: #4d0300;
  --color-red-950: #3d0400;
  --color-red-opacity-0: rgba(215, 41, 35, 0);
  --color-red-opacity-4: rgba(215, 41, 35, 0.04);
  --color-red-opacity-8: rgba(215, 41, 35, 0.08);
  --color-red-opacity-12: rgba(215, 41, 35, 0.12);
  --color-red-opacity-16: rgba(215, 41, 35, 0.16);
  --color-red-opacity-20: rgba(215, 41, 35, 0.2);
  --color-red-opacity-24: rgba(215, 41, 35, 0.24);
  --color-red-opacity-32: rgba(215, 41, 35, 0.32);

  /* orange */
  --color-orange-50: #fff1e5;
  --color-orange-100: #ffd7b8;
  --color-orange-150: #ffbd8a;
  --color-orange-200: #ffa96b;
  --color-orange-250: #fc9a55;
  --color-orange-300: #fb7f37;
  --color-orange-400: #e65e0a;
  --color-orange-500: #c24700;
  --color-orange-600: #9e3a00;
  --color-orange-700: #752d00;
  --color-orange-750: #662700;
  --color-orange-800: #471e00;
  --color-orange-850: #381800;
  --color-orange-900: #2e1300;
  --color-orange-950: #240f00;
  --color-orange-opacity-0: rgba(194, 71, 0, 0);
  --color-orange-opacity-4: rgba(194, 71, 0, 0.04);
  --color-orange-opacity-8: rgba(194, 71, 0, 0.08);
  --color-orange-opacity-12: rgba(194, 71, 0, 0.12);
  --color-orange-opacity-16: rgba(194, 71, 0, 0.16);
  --color-orange-opacity-20: rgba(194, 71, 0, 0.2);
  --color-orange-opacity-24: rgba(194, 71, 0, 0.24);
  --color-orange-opacity-32: rgba(194, 71, 0, 0.32);

  /* yellow */
  --color-yellow-50: #fff5b8;
  --color-yellow-100: #f7e25f;
  --color-yellow-150: #ebcc05;
  --color-yellow-200: #e0bb00;
  --color-yellow-250: #d1ac05;
  --color-yellow-300: #bd9700;
  --color-yellow-400: #997a00;
  --color-yellow-500: #7a6200;
  --color-yellow-600: #664d00;
  --color-yellow-700: #4d3900;
  --color-yellow-750: #423200;
  --color-yellow-800: #332600;
  --color-yellow-850: #291f00;
  --color-yellow-900: #1f1700;
  --color-yellow-950: #191300;
  --color-yellow-opacity-0: rgba(189, 151, 0, 0);
  --color-yellow-opacity-4: rgba(189, 151, 0, 0.04);
  --color-yellow-opacity-8: rgba(189, 151, 0, 0.08);
  --color-yellow-opacity-12: rgba(189, 151, 0, 0.12);
  --color-yellow-opacity-16: rgba(189, 151, 0, 0.16);
  --color-yellow-opacity-20: rgba(189, 151, 0, 0.2);
  --color-yellow-opacity-24: rgba(189, 151, 0, 0.24);
  --color-yellow-opacity-32: rgba(189, 151, 0, 0.32);

  /* lime */
  --color-lime-50: #f0f7c4;
  --color-lime-100: #d2ec5f;
  --color-lime-150: #b6da34;
  --color-lime-200: #9dc81e;
  --color-lime-250: #8ebb1b;
  --color-lime-300: #75a805;
  --color-lime-400: #588604;
  --color-lime-500: #3f6600;
  --color-lime-600: #305200;
  --color-lime-700: #243d00;
  --color-lime-750: #1d3300;
  --color-lime-800: #172900;
  --color-lime-850: #122201;
  --color-lime-900: #101c03;
  --color-lime-950: #0d1603;
  --color-lime-opacity-0: rgba(63, 102, 0, 0);
  --color-lime-opacity-4: rgba(63, 102, 0, 0.04);
  --color-lime-opacity-8: rgba(63, 102, 0, 0.08);
  --color-lime-opacity-12: rgba(63, 102, 0, 0.12);
  --color-lime-opacity-16: rgba(63, 102, 0, 0.16);
  --color-lime-opacity-20: rgba(63, 102, 0, 0.2);
  --color-lime-opacity-24: rgba(63, 102, 0, 0.24);
  --color-lime-opacity-32: rgba(63, 102, 0, 0.32);

  /* green */
  --color-green-50: #cdfedd;
  --color-green-100: #a6edbe;
  --color-green-150: #82dea1;
  --color-green-200: #63cf87;
  --color-green-250: #4bc373;
  --color-green-300: #3dae63;
  --color-green-400: #008f30;
  --color-green-500: #046c27;
  --color-green-600: #00571d;
  --color-green-700: #00420f;
  --color-green-750: #003809;
  --color-green-800: #002e08;
  --color-green-850: #002402;
  --color-green-900: #001f00;
  --color-green-950: #011801;
  --color-green-opacity-0: rgba(4, 108, 39, 0);
  --color-green-opacity-4: rgba(4, 108, 39, 0.04);
  --color-green-opacity-8: rgba(4, 108, 39, 0.08);
  --color-green-opacity-12: rgba(4, 108, 39, 0.12);
  --color-green-opacity-16: rgba(4, 108, 39, 0.16);
  --color-green-opacity-20: rgba(4, 108, 39, 0.2);
  --color-green-opacity-24: rgba(4, 108, 39, 0.24);
  --color-green-opacity-32: rgba(4, 108, 39, 0.32);

  /* teal */
  --color-teal-50: #e0f8ff;
  --color-teal-100: #ade8fa;
  --color-teal-150: #77daf8;
  --color-teal-200: #59c9e8;
  --color-teal-250: #35bee3;
  --color-teal-300: #25a9d4;
  --color-teal-400: #0086b3;
  --color-teal-500: #00668f;
  --color-teal-600: #00506b;
  --color-teal-700: #003c52;
  --color-teal-750: #00344d;
  --color-teal-800: #002a3d;
  --color-teal-850: #002133;
  --color-teal-900: #001b29;
  --color-teal-950: #001324;
  --color-teal-opacity-0: rgba(0, 102, 143, 0);
  --color-teal-opacity-4: rgba(0, 102, 143, 0.04);
  --color-teal-opacity-8: rgba(0, 102, 143, 0.08);
  --color-teal-opacity-12: rgba(0, 102, 143, 0.12);
  --color-teal-opacity-16: rgba(0, 102, 143, 0.16);
  --color-teal-opacity-20: rgba(0, 102, 143, 0.2);
  --color-teal-opacity-24: rgba(0, 102, 143, 0.24);
  --color-teal-opacity-32: rgba(0, 102, 143, 0.32);

  /* blue */
  --color-blue-50: #e5f6ff;
  --color-blue-100: #c2e4ff;
  --color-blue-150: #99d3ff;
  --color-blue-200: #7ac1ff;
  --color-blue-250: #61b5ff;
  --color-blue-300: #4da0ff;
  --color-blue-400: #2b7fee;
  --color-blue-500: #005fdb;
  --color-blue-600: #004aba;
  --color-blue-700: #003694;
  --color-blue-750: #002f80;
  --color-blue-800: #002575;
  --color-blue-850: #001d57;
  --color-blue-900: #00174d;
  --color-blue-950: #001138;
  --color-blue-opacity-0: rgba(0, 95, 219, 0);
  --color-blue-opacity-4: rgba(0, 95, 219, 0.04);
  --color-blue-opacity-8: rgba(0, 95, 219, 0.08);
  --color-blue-opacity-12: rgba(0, 95, 219, 0.12);
  --color-blue-opacity-16: rgba(0, 95, 219, 0.16);
  --color-blue-opacity-20: rgba(0, 95, 219, 0.2);
  --color-blue-opacity-24: rgba(0, 95, 219, 0.24);
  --color-blue-opacity-32: rgba(0, 95, 219, 0.32);

  /* purple */
  --color-purple-50: #f5f0ff;
  --color-purple-100: #e5ddf8;
  --color-purple-150: #d3c7f0;
  --color-purple-200: #c1b2eb;
  --color-purple-250: #b6a2e6;
  --color-purple-300: #a28ee1;
  --color-purple-400: #806bd6;
  --color-purple-500: #634fc4;
  --color-purple-600: #5038c7;
  --color-purple-700: #3d28a9;
  --color-purple-750: #342191;
  --color-purple-800: #271b79;
  --color-purple-850: #1f1560;
  --color-purple-900: #1a1056;
  --color-purple-950: #130c40;
  --color-purple-opacity-0: rgba(99, 79, 196, 0);
  --color-purple-opacity-4: rgba(99, 79, 196, 0.04);
  --color-purple-opacity-8: rgba(99, 79, 196, 0.08);
  --color-purple-opacity-12: rgba(99, 79, 196, 0.12);
  --color-purple-opacity-16: rgba(99, 79, 196, 0.16);
  --color-purple-opacity-20: rgba(99, 79, 196, 0.2);
  --color-purple-opacity-24: rgba(99, 79, 196, 0.24);
  --color-purple-opacity-32: rgba(99, 79, 196, 0.32);

  /* magenta */
  --color-magenta-50: #fff0f6;
  --color-magenta-100: #ffd6eb;
  --color-magenta-150: #ffbdde;
  --color-magenta-200: #faa5d2;
  --color-magenta-250: #f990c8;
  --color-magenta-300: #f179bd;
  --color-magenta-400: #e04da5;
  --color-magenta-500: #ca2b8a;
  --color-magenta-600: #ac167a;
  --color-magenta-700: #870b62;
  --color-magenta-750: #760a55;
  --color-magenta-800: #630349;
  --color-magenta-850: #54033e;
  --color-magenta-900: #460136;
  --color-magenta-950: #3b012d;
  --color-magenta-opacity-0: rgba(202, 43, 138, 0);
  --color-magenta-opacity-4: rgba(202, 43, 138, 0.04);
  --color-magenta-opacity-8: rgba(202, 43, 138, 0.08);
  --color-magenta-opacity-12: rgba(202, 43, 138, 0.12);
  --color-magenta-opacity-16: rgba(202, 43, 138, 0.16);
  --color-magenta-opacity-20: rgba(202, 43, 138, 0.2);
  --color-magenta-opacity-24: rgba(202, 43, 138, 0.24);
  --color-magenta-opacity-32: rgba(202, 43, 138, 0.32);

  /* dusk */
  --color-dusk-25: #fcfcfc;
  --color-dusk-50: #f1f1f4;
  --color-dusk-100: #e0e1e6;
  --color-dusk-150: #c4c6cf;
  --color-dusk-200: #b6bac3;
  --color-dusk-250: #a8acb8;
  --color-dusk-300: #9499a8;
  --color-dusk-400: #6e748c;
  --color-dusk-450: #5e6782;
  --color-dusk-500: #515870;
  --color-dusk-600: #3d445c;
  --color-dusk-700: #2c3244;
  --color-dusk-750: #292d3d;
  --color-dusk-800: #212431;
  --color-dusk-850: #181b25;
  --color-dusk-900: #12141c;
  --color-dusk-950: #0e1015;

  /* ─── Font ─── */

  /* font-family */
  --font-family-mac-heading: "SF Pro Display";
  --font-family-mac-text: "SF Pro Text";
  --font-family-mac-code: "Menlo";
  --font-family-windows-heading: "Segoe UI";
  --font-family-windows-text: "Segoe UI";
  --font-family-windows-code: "Segoe UI";
  --font-family-marketing-heading: "Roc Grotesk";
  --font-family-marketing-text: "Roc Grotesk";
  --font-family-marketing-code: "Menlo";

  /* font-size */
  --font-size-2xs: 0.625rem;
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.75rem;
  --font-size-4xl: 2rem;
  --font-size-5xl: 2.5rem;
  --font-size-6xl: 3rem;
  --font-size-7xl: 3.5rem;
  --font-size-8xl: 4rem;
  --font-size-9xl: 4.5rem;
  --font-size-10xl: 5rem;

  /* font-weight */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  /* line-height */
  --line-height-sm: 14px;
  --line-height-md: 16px;
  --line-height-lg: 20px;
  --line-height-xl: 24px;
  --line-height-xl-plus: 28px;
  --line-height-2xl: 32px;
  --line-height-3xl: 36px;
  --line-height-4xl: 40px;
  --line-height-5xl: 56px;
  --line-height-6xl: 64px;
  --line-height-7xl: 72px;
  --line-height-8xl: 80px;
  --line-height-unitless-none: 1;
  --line-height-unitless-tightest: 1.14285714;
  --line-height-unitless-tighter: 1.16666667;
  --line-height-unitless-tight: 1.25;
  --line-height-unitless-snug: 1.33333333;
  --line-height-unitless-normal-minus: 1.4;
  --line-height-unitless-semi-normal: 1.42857143;
  --line-height-unitless-normal: 1.5;
  --line-height-unitless-relaxed: 1.6;

  /* letter-spacing */
  --letter-spacing-4xs: -0.0875rem;
  --letter-spacing-3xs: -0.05rem;
  --letter-spacing-2xs: -0.025rem;
  --letter-spacing-xs: -0.0125rem;
  --letter-spacing-sm: -0.00625rem;
  --letter-spacing-md: 0rem;
  --letter-spacing-lg: 0.00625rem;
  --letter-spacing-xl: 0.0125rem;
  --letter-spacing-2xl: 0.025rem;
  --letter-spacing-3xl: 0.05rem;
  --letter-spacing-4xl: 0.1rem;

  /* ─── Space ─── */
  --space-none: 0px;
  --space-hair-line: 0.5px;
  --space-px: 1px;
  --space-2xs: 2px;
  --space-xs: 4px;
  --space-sm-minus: 6px;
  --space-sm: 8px;
  --space-sm-plus: 10px;
  --space-sm-extra: 12px;
  --space-md-minus: 14px;
  --space-md: 16px;
  --space-lg: 20px;
  --space-xl: 24px;
  --space-xl-plus: 28px;
  --space-2xl: 32px;
  --space-3xl: 36px;
  --space-4xl: 40px;
  --space-4xl-plus: 44px;
  --space-4xl-extra: 48px;
  --space-5xl: 56px;
  --space-6xl: 64px;
  --space-7xl: 72px;
  --space-8xl: 80px;
  --space-9xl: 96px;
  --space-10xl: 112px;
  --space-11xl: 128px;
  --space-12xl: 144px;
  --space-13xl: 160px;
  --space-negative-px: -1px;
  --space-negative-2xs: -2px;
  --space-negative-xs: -4px;
  --space-negative-sm-minus: -6px;
  --space-negative-sm: -8px;
  --space-negative-sm-plus: -10px;
  --space-negative-sm-extra: -12px;
  --space-negative-md-minus: -14px;
  --space-negative-md: -16px;
  --space-negative-lg: -20px;
  --space-negative-xl: -24px;
  --space-negative-2xl: -32px;
  --space-negative-3xl: -36px;
  --space-negative-4xl: -40px;
  --space-negative-4xl-plus: -44px;
  --space-negative-4xl-extra: -48px;

  /* ─── Radius ─── */
  --radius-none: 0px;
  --radius-xs: 2px;
  --radius-sm: 4px;
  --radius-md: 6px;
  --radius-lg: 8px;
  --radius-xl: 12px;
  --radius-2xl: 16px;
  --radius-3xl: 20px;
  --radius-4xl: 24px;
  --radius-full: 1000px;

  /* ─── Opacity ─── */
  --opacity-0: 0;
  --opacity-4: 0.04;
  --opacity-8: 0.08;
  --opacity-12: 0.12;
  --opacity-16: 0.16;
  --opacity-20: 0.2;
  --opacity-24: 0.24;
  --opacity-32: 0.32;
  --opacity-40: 0.4;
  --opacity-48: 0.48;
  --opacity-56: 0.56;
  --opacity-64: 0.64;
  --opacity-88: 0.88;
  --opacity-98: 0.98;
  --opacity-100: 1;

  /* ─── Blur ─── */
  --blur-none: 0px;
  --blur-2xs: 2px;
  --blur-xs: 4px;
  --blur-sm: 6px;
  --blur-md: 8px;
  --blur-lg: 16px;
  --blur-xl: 24px;
  --blur-2xl: 40px;

  /* ─── Aspect Ratio ─── */
  --aspect-ratio-square: 1/1;
  --aspect-ratio-horizontal-2-1: 2;
  --aspect-ratio-horizontal-3-2: 3/2;
  --aspect-ratio-horizontal-4-3: 4/3;
  --aspect-ratio-horizontal-5-4: 5/4;
  --aspect-ratio-horizontal-16-9: 16/9;
  --aspect-ratio-horizontal-golden: 1.618/1;
  --aspect-ratio-vertical-2-3: 2/3;
  --aspect-ratio-vertical-1-2: 0.5;
  --aspect-ratio-vertical-3-4: 3/4;
  --aspect-ratio-vertical-4-5: 4/5;
  --aspect-ratio-vertical-9-16: 9/16;
  --aspect-ratio-vertical-golden: 1/1.618;

  /* ─── Z-Index ─── */
  --z-index-base: 0;
  --z-index-navigation: 1100;
  --z-index-dialog: 1400;
  --z-index-below: -1;
  --z-index-above: 1;
  /* --z-index-stack-sticky: above+base; (computed) */
  /* --z-index-stack-fab: above+sticky; (computed) */
  /* --z-index-stack-nav-backdrop: below+drawer; (computed) */
  /* --z-index-stack-drawer: below+nav; (computed) */
  /* --z-index-stack-nav: navigation; (computed) */
  /* --z-index-stack-nav-menu: above+nav; (computed) */
  /* --z-index-stack-modal-backdrop: below+modal; (computed) */
  /* --z-index-stack-modal: dialog; (computed) */
  /* --z-index-stack-dropdown: above+modal; (computed) */
  /* --z-index-stack-popover: above+dropdown; (computed) */
  /* --z-index-stack-tooltip: above+popover; (computed) */

  /* ─── Motion ─── */

  /* duration */
  --motion-duration-fast-xs: 80ms;
  --motion-duration-fast-sm: 120ms;
  --motion-duration-fast-md: 200ms;
  --motion-duration-fast-lg: 240ms;
  --motion-duration-fast-xl: 280ms;
  --motion-duration-normal-xs: 300ms;
  --motion-duration-normal-sm: 320ms;
  --motion-duration-normal-sm-extra: 360ms;
  --motion-duration-normal-md: 400ms;
  --motion-duration-normal-lg: 440ms;
  --motion-duration-normal-xl: 480ms;
  --motion-duration-slow-xxs: 500ms;
  --motion-duration-slow-xs: 560ms;
  --motion-duration-slow-sm: 600ms;
  --motion-duration-slow-md: 640ms;
  --motion-duration-slow-lg: 800ms;
  --motion-duration-slow-xl: 900ms;
  --motion-duration-slow-xxl: 1000ms;

  /* easing */
  --motion-easing-linear: cubic-bezier(0, 0, 1, 1);
  --motion-easing-standard: cubic-bezier(0.4, 0, 0.2, 1);
  --motion-easing-snappy: cubic-bezier(0.2, 0.9, 0.2, 1);
  --motion-easing-emphasized: cubic-bezier(0.2, 0, 0, 1);
  --motion-easing-enter: cubic-bezier(0, 0, 0.2, 1);
  --motion-easing-exit: cubic-bezier(0.4, 0, 1, 1);

  /* ─── Grid ─── */

  /* grid-device-size */
  --grid-device-size-min: 320px;
  --grid-device-size-mobile-sm: 375px;
  --grid-device-size-mobile-lg: 520px;
  --grid-device-size-tablet: 1024px;
  --grid-device-size-laptop-sm: 1280px;
  --grid-device-size-laptop-lg: 1440px;
  --grid-device-size-desktop: 1920px;
  --grid-device-size-shift: 1px;

  /* grid-media-query */
  --grid-media-query-2xs-min: min;
  --grid-media-query-2xs-max: mobile-sm;
  --grid-media-query-xs-min: mobile-sm+shift;
  --grid-media-query-xs-max: mobile-lg;
  --grid-media-query-sm-min: mobile-lg+shift;
  --grid-media-query-sm-max: tablet;
  --grid-media-query-md-min: tablet+shift;
  --grid-media-query-md-max: laptop-sm;
  --grid-media-query-lg-min: laptop-sm+shift;
  --grid-media-query-lg-max: laptop-lg;
  --grid-media-query-xl-min: laptop-lg+shift;
  --grid-media-query-xl-max: desktop;
  --grid-media-query-2xl-min: desktop+shift;

  /* grid-column */
  --grid-column-single: 1px;
  --grid-column-sm: 8px;
  --grid-column-lg: 12px;
  --grid-column-width-74: 74px;
  --grid-column-width-86: 86px;
  --grid-column-width-88: 88px;
  --grid-column-width-96: 96px;
  --grid-column-width-98: 98px;
  --grid-column-width-110: 110px;
  --grid-column-width-120: 120px;
  --grid-column-width-max-width-md: 1384px;
  --grid-column-width-max-width-lg: 1728px;
  --grid-column-width-nav-collapsed: 64px;
  --grid-column-width-nav-expanded: 332px;
  --grid-column-width-editor-left-bar: 56px;
  --grid-column-width-editor-right-bar: 44px;
  --grid-column-width-editor-layer-editor: 298px;
  --grid-column-width-editor-layers: 180px;

  /* grid-gutter */
  --grid-gutter-sm: 8px;
  --grid-gutter-md: 16px;
  --grid-gutter-lg: 24px;

  /* grid-offset */
  --grid-offset-none: 0px;
  --grid-offset-sm: 8px;
  --grid-offset-md: 16px;
  --grid-offset-lg: 24px;
  --grid-offset-xl: 32px;
  --grid-offset-creative-layer-editor: 44px;
  --grid-offset-creative-layers: 56px;
  --grid-offset-nav-tight: 96px;
  --grid-offset-nav-relaxed: 112px;

  /* grid-margin */
  --grid-margin-none: 0px;
  --grid-margin-sm: 8px;
  --grid-margin-md: 16px;
  --grid-margin-lg: 24px;
  --grid-margin-xl: 32px;
}
