:root, [data-density='normal'] {
  --spacing-none: var(--space-none);
  --spacing-hair-line: var(--space-hair-line);
  --spacing-px: var(--space-px);
  --spacing-2xs: var(--space-2xs);
  --spacing-xs: var(--space-xs);
  --spacing-sm-minus: var(--space-sm-minus);
  --spacing-sm: var(--space-sm);
  --spacing-sm-plus: var(--space-sm-plus);
  --spacing-sm-extra: var(--space-sm-extra);
  --spacing-md-minus: var(--space-md-minus);
  --spacing-md: var(--space-md);
  --spacing-lg: var(--space-lg);
  --spacing-xl: var(--space-xl);
  --spacing-xl-plus: var(--space-xl-plus);
  --spacing-2xl: var(--space-2xl);
  --spacing-3xl: var(--space-3xl);
  --spacing-4xl: var(--space-4xl);
  --spacing-4xl-plus: var(--space-4xl-plus);
  --spacing-4xl-extra: var(--space-4xl-extra);
  --spacing-5xl: var(--space-5xl);
  --spacing-6xl: var(--space-6xl);
  --spacing-7xl: var(--space-7xl);
  --spacing-8xl: var(--space-8xl);
  --spacing-9xl: var(--space-9xl);
  --spacing-10xl: var(--space-10xl);
  --spacing-11xl: var(--space-11xl);
  --spacing-12xl: var(--space-12xl);
  --spacing-13xl: var(--space-13xl);
  --spacing-negative-px: var(--space-negative-px);
  --spacing-negative-2xs: var(--space-negative-2xs);
  --spacing-negative-xs: var(--space-negative-xs);
  --spacing-negative-sm-minus: var(--space-negative-sm-minus);
  --spacing-negative-sm: var(--space-negative-sm);
  --spacing-negative-sm-plus: var(--space-negative-sm-plus);
  --spacing-negative-sm-extra: var(--space-negative-sm-extra);
  --spacing-negative-md-minus: var(--space-negative-md-minus);
  --spacing-negative-md: var(--space-negative-md);
  --spacing-negative-lg: var(--space-negative-lg);
  --spacing-negative-xl: var(--space-negative-xl);
  --spacing-negative-2xl: var(--space-negative-2xl);
  --spacing-negative-3xl: var(--space-negative-3xl);
  --spacing-negative-4xl: var(--space-negative-4xl);
  --spacing-negative-4xl-plus: var(--space-negative-4xl-plus);
  --spacing-negative-4xl-extra: var(--space-negative-4xl-extra);
}

[data-density='dense'] {
  --spacing-none: var(--space-none);
  --spacing-hair-line: var(--space-hair-line);
  --spacing-px: var(--space-px);
  --spacing-2xs: var(--space-2xs);
  --spacing-xs: var(--space-2xs);
  --spacing-sm-minus: var(--space-xs);
  --spacing-sm: var(--space-sm-minus);
  --spacing-sm-plus: var(--space-sm);
  --spacing-sm-extra: var(--space-sm-plus);
  --spacing-md-minus: var(--space-sm-extra);
  --spacing-md: var(--space-md-minus);
  --spacing-lg: var(--space-md);
  --spacing-xl: var(--space-lg);
  --spacing-xl-plus: var(--space-xl);
  --spacing-2xl: var(--space-xl-plus);
  --spacing-3xl: var(--space-xl-plus);
  --spacing-4xl: var(--space-3xl);
  --spacing-4xl-plus: var(--space-3xl);
  --spacing-4xl-extra: var(--space-4xl-extra);
  --spacing-5xl: var(--space-5xl);
  --spacing-6xl: var(--space-6xl);
  --spacing-7xl: var(--space-7xl);
  --spacing-8xl: var(--space-8xl);
  --spacing-9xl: var(--space-9xl);
  --spacing-10xl: var(--space-10xl);
  --spacing-11xl: var(--space-11xl);
  --spacing-12xl: var(--space-12xl);
  --spacing-13xl: var(--space-13xl);
  --spacing-negative-px: var(--space-negative-px);
  --spacing-negative-2xs: var(--space-negative-2xs);
  --spacing-negative-xs: var(--space-negative-xs);
  --spacing-negative-sm-minus: var(--space-negative-sm-minus);
  --spacing-negative-sm: var(--space-negative-sm);
  --spacing-negative-sm-plus: var(--space-negative-sm-plus);
  --spacing-negative-sm-extra: var(--space-negative-sm-extra);
  --spacing-negative-md-minus: var(--space-negative-md-minus);
  --spacing-negative-md: var(--space-negative-md);
  --spacing-negative-lg: var(--space-negative-lg);
  --spacing-negative-xl: var(--space-negative-xl);
  --spacing-negative-2xl: var(--space-negative-2xl);
  --spacing-negative-3xl: var(--space-negative-3xl);
  --spacing-negative-4xl: var(--space-negative-4xl);
  --spacing-negative-4xl-plus: var(--space-negative-4xl-plus);
  --spacing-negative-4xl-extra: var(--space-negative-4xl-extra);
}
